/* general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f8fb;
  color: #333;
  line-height: 1.6;
}

section {
  max-width: 1300px;
  margin: auto;
  padding: 36px 0;
}

.site-header {
  background: #0d6efd;
  color: white;
  border-bottom: 1px solid #e6e9ef;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-area img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.logo-area h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: 0.3s ease;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.main-nav ul li a:hover {
  color: black;
  transform: translateY(-3px);
}

.mobile-toggle {
  display: none;
  background: none;
  border: 0;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

#about,
#skills,
#projects,
#certificates {
  scroll-margin-top: 50px;
}

/* hero section starts here */
.hero {
  height: 75vh;
  display: flex;
  justify-content: center;
  position: relative;
  background: url(../images/bg-image.jpg) no-repeat;
  /* background: linear-gradient(to right, #0d6efd, #0a58ca); */
  color: #fff;
  padding-top: 30px;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  margin-bottom: 100px;
}
.rounded-circle {
  width: 280px;
  height: 320px;
}
span {
  color: #d92cf9;
}

@media (max-width: 768px) {
  .main-text h1 {
    color: #d92cf9;
  }
  span {
    color: #fff;
  }
  strong {
    color: #d92cf9;
  }
}

@media (min-width: 768px) {
  .main-text .hero-subtitle {
    font-size: 24px;
  }
}

@media (max-width: 1063px) {
  .rounded-circle {
    width: 180px;
    height: 220px;
  }
  .resume {
    margin-bottom: 15px;
  }
  .hero {
    margin-bottom: 70px;
  }
}

/* hero section ends here */

/* about section starts here */

.about-container {
  display: flex;
  gap: 40px;
  padding: 50px 0;
  align-items: flex-start;
  box-shadow: 0 3px 6px #333;
  border-radius: 10px;
}

.about-text {
  background-color: #fff;
  margin: 0 10px;
  padding: 20px 18px;
  flex: 1;
  box-shadow: 0 1px 1px #333;
  border-radius: 10px;
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.read-more {
  display: flex;
  text-align: center;
  justify-content: center;
}
.about a {
  text-align: center;
}
.about-image {
  /* background-color: #fff; */
  width: 40%;
  text-align: center;
  margin: 0 10px;
  box-shadow: 0 1px 1px #333;
  border-radius: 10px;
}

.about-text:hover,
.about-image:hover {
  background-color: #f7f8fb;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    width: 100%;
  }
}

/* about section ends here */

/* skills section starts here */

#skills h4 {
  border: 2px solid #d92cf9;
  border-radius: 10px;
}

.skill-icon {
  font-size: 3rem;
  color: #0d6efd;
  margin-bottom: 10px;
}
.skill-icon:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(148, 95, 95, 0.15);
}
#skills h6 abbr {
  text-decoration: none;
}

/* skills section ends here */

/* projects section starts here */

.card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  background-color: #f8f9fa;
  transform: translateY(-8px);
}
.card-img-top {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 22px;
}
.card-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.card-text {
  line-height: 1.7;
  margin-bottom: 18px;
  color: #555;
  flex-grow: 1;
}

.project-skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}
.project-skills ul li {
  display: inline-block;
}
.project-skill {
  background: #0d6efd;
  color: #fff;
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.project-links {
  display: flex;
  gap: 20px;
  margin-top: auto;
  color: #0d6efd;
  justify-content: center;
}

.project-links a {
  text-decoration: none;
}
.project-links a:hover {
  text-decoration-line: underline;
}

#projects .project-skills ul li abbr {
  text-decoration: none;
}
.col-md-4 {
  margin-bottom: 40px;
}

.row.g-4 {
  row-gap: 28px !important;
}
/* project section ends here */

/* certeficate section starts here */
.cereficate-footer a {
  text-decoration: none;
}
.cereficate-footer a:hover {
  text-decoration: underline;
}

/* Certeficate section ends here */

/* contact section starts here */
.contact {
  padding: 50px;
}

.social-icons a {
  color: #fff;
  font-size: 2rem;
  margin: 0 15px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0d6efd;
}
.email a:hover {
  color: #0d6efd !important;
  text-decoration: none;
}

/* contact section ends here */

/* footer section starts here */
.footer {
  background: #f8f9fa;
}

#scroll-Top .return-to-top {
  background: #0d6efd;
  color: #fff;
  position: relative;
  width: 45px;
  line-height: 45px;
  height: 45px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #fff;
}

#scroll-Top .return-to-top i {
  color: #fff;
}

#scroll-Top .return-to-top a :hover {
  /* background: #fff;
  color: #0d6efd; */
  transform: translateY(-5px);
}

/* =====================================
   RESPONSIVE DESIGN -MEDIA QUERRY
=====================================*/

@media (max-width: 992px) {
  .main-nav ul {
    display: none;
    flex-direction: column;
    gap: 12px;
    background: #0d6efd;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    padding: 10px;
    text-align: left;
  }
  .nav-menu.active {
    display: flex;
  }
  .mobile-toggle {
    display: block;
  }
}

@media (max-width: 992px) {
  .site-header h1 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .site-header h1 {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .card-img-top {
    height: 220px;
  }
  .card-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
  .card-img-top {
    height: 210px;
  }
  .project-links {
    flex-direction: column;
  }
  .project-link {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section .container {
    padding: 20px 12px;
  }
  .card-img-top {
    height: 190px;
  }
  .card-body {
    padding: 18px;
  }
  .card-title {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .section header {
    margin-bottom: 0.5rem;
  }

  .section h5 {
    font-size: 1.1rem;
  }

  .section .issuer,
  .section .certeficate-date,
  .section .certeficate-link {
    font-size: 0.95rem;
  }
}
